.ui-center {
  text-align: center;
}
.ui-margin-b-small {
  margin-bottom: 1.5rem;
}
.ui-margin-b-medium {
  margin-bottom: 3rem;
}
.ui-margin-b-big {
  margin-bottom: 5rem;
}
.ui-margin-b-extra-large {
  padding-bottom: 25rem !important;
}

.ui-margin-l-medium {
  margin-left: 5rem;
}
.ui-flex-center {
  align-items: center;
}
