@import "../base/index.scss";
.home-page {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $primary_theme_color;

  .background {
    position: relative;
    height: 100%;
    display: flex;
    flex: 0 0 70%;

    .img-wrap {
      position: absolute;
      top: -28px;
      left: 250px;
      width: 70%;
      height: 100%;
      opacity: 0;
      z-index: 9;
      transition: all 550ms linear;
      transition-delay: 100ms;
      background-position: center top;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("~assets/images/earphones-1.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate3d(1, 1, 1, 20deg) perspective(100px);
      @include max-mq($ls) {
        top: -20px;
        width: 400px;
        height: 400px;
      }
      @include max-mq($sm) {
        width: 300px;
        height: 300px;
        top: 30px;
        left: 180px;
      }
      @include max-mq($mb) {
        left: 0;
      }
        &.active {
          opacity: 1;
          animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
        }
    }
   
  }
  .intro {
    position: relative;
    height: 100%;
    display: flex;
    flex: 0 0 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $dark_grey;
    z-index: 99;
    @include max-mq($mb) {
      background-color: $primary_theme_color;
    }
    &-text {
      position: absolute;
      top: 150px;
      left: 170px;
      color: white;
      font-size: 100px;
      font-weight: 800;
      text-align: left;
      cursor: pointer;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        @include max-mq($ls) {
          font-size: 65px;
        }
        @include max-mq($sm) {
          top: 100px;
          left: 50px;
        }
      &::before {
        content: "";
        z-index: -2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: inherit;
      }

      &_one {
        background-image: url("~assets/images/tech-2.jpg");
        @include max-mq($mb) {
          background-image: url("~assets/images/hardware-img.jpg");
        }
      }

      &_two {
        top: 280px;
        left: 165px;
        @include max-mq($ls) {
          top: 250px;
        }
        @include max-mq($sm) {
          top: 170px;
          left: 50px;
        }
      }
    }
  }

  .discover-more {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    @include max-mq($mb) {
      z-index: 99;
      text-align: center;
    }
    .btn {
      cursor: pointer;
      @include max-mq($mb) {
        font-size: 12px;
      }
    }
  }
  &-about {
    background-color: $light_grey;
    padding: 5rem 0;
    color: $dark_grey;
    .heading-secondary {
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      background-image: linear-gradient(
        to right,
        $primary_theme_color,
        $secondary_theme_color
      );
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: 2px;
      transition: all 0.2s;
      @include max-mq($mb) {
        font-size: 1.6rem;
      }
      &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color: #000000, $alpha: 0.2);
      }
    }
    .heading-tertiary {
      font-size: $default-font-size;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      font-size: $default-font-size;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
    &-row {
      display: flex;
      margin: 0 5rem;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      @include max-mq($mb) {
        margin: 0 1rem;
        flex-direction: column;
      }
      .col-1-of-2 {
        display: flex;
        flex: 0 0 50%;
        flex-wrap: wrap;
        flex-direction: column;
        .composition {
          position: relative;
          &-photo {
            width: 300px;
            height: 300px;
            box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);
            border-radius: 2px;
            position: absolute;
            z-index: 9;
            outline-offset: 0.8rem;
            transition: all 0.2s;
            @include max-mq($mb) {
              margin-top: 1rem;
            }
            &-p1 {
              left: 0;
              top: 0rem;
            }
            &-p2 {
              left: 25rem;
              top: -0rem;
              @include max-mq($ls) {
                display: none;
              }
            }
            &-p3 {
              left: 25%;
              top: 3rem;
            }
            &:hover {
              outline: 0.4rem solid $primary_theme_color;
              transform: scale(1.05);
              box-shadow: 0 2.5rem 4rem rgba($color: #000000, $alpha: 0.5);
              z-index: 99;
            }
          }

          &:hover .composition-photo:not(:hover) {
            transform: scale(0.9);
          }
        }
      }
    }
    .home-page-about-stories {
      .row {
        .story {
          width: 75%;
          margin: 2rem auto;
          padding: 1.5rem;
          box-shadow: 0 3rem 6rem rgba($color: #000000, $alpha: 0.1);
          background-color: rgba($color: white, $alpha: 0.5);
          border-radius: 3px;
          transform: skew(-7deg, 0);
          & > * {
            transform: skew(7deg, 0);
          }
          &-shape {
            width: 8rem;
            height: 8rem;
            float: left;
            position: relative;
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-clip-path: circle(50% at 50% 50%);
            transform: translateX(-1rem) skew(7deg, 0);
            &-image {
              height: 100%;
              transform: translateX(-4rem) scale(1.4);
              backface-visibility: hidden;
              transition: all 0.2s;
            }
            &-caption {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, 20%);
              font-size: 1.5rem;
              text-transform: uppercase;
              color: white;
              opacity: 0;
              transition: all 0.2s;
              -moz-backface-visibility: hidden;
            }
          }
          &:hover .story-shape-image {
            transform: translateX(-4rem) scale(1);
          }
          &:hover .story-shape-caption {
            opacity: 1;
            transform: translate(-50%, -50%);
          }
        }
      }
      .final {
        padding: 3rem;
        h3 {
          color: $primary_theme_color;
        }
      }
    }
  }
}

// show hardware/software image on input checked
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  visibility: hidden;
}

.img-wrap.software.softwareActive {
  width: 60%;
  left: 275px;
  opacity: 1;
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  background-image: url("~assets/images/earphones-2.png");
}

.create-post {
  padding: 20px 0;
}

.video-about {
  height: 600px;
  width: 100%;
  object-fit: fill;
  filter: blur(3px) brightness(80%);
}
