@import "../base/index.scss";

.single-post-page {
  min-height: calc(100vh - 260px);
  width: 100%;
  max-width: 1440px;
  margin: 0 -30px;
  padding: 0 15px;
  display: flex;
  @include max-mq($mac) {
    flex-wrap: wrap;
    margin: 0;
  }
}
.post {
  position: relative;
  width: 60%;
  margin: 50px auto;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 70%;
    @include max-mq($sm) {
      flex: 0 0 100%;
      width: 100%;
      padding: 0 10px;
    }
  &-title {
    text-transform: uppercase;
    font-weight: bold;
  }
  &-detail {
    padding-bottom: 10px;
  }
  &-image {
    width: 600px;
    height: 600px;
    display: block;
      @include max-mq($mb) {
        width: 100%;
      }
  }
  &-content {
    text-align: justify;
    padding: 30px 0;
  }
  &-feedback,
  &-detail {
    color: $primary_theme_color;
    a {
      color: black;
    }
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .icons-item {
      width: 35px;
      height: 35px;
      padding: 8px;
      margin: 15px 5px;
      border: 1px solid $primary_theme_color;
      border-radius: 5px;
      text-align: center;
      color: $primary_theme_color;
      &:hover {
        border: 1px solid $dark_grey;
        color: $dark_grey;
        transition: all 0.3s ease-in;
      }
    }
  }
}

.rating {
  margin: 0 2rem 2rem 0;
  &-heading {
    color: $primary_theme_color;
    font-weight: 700;
  }
  span {
    svg {
      color: $dark_grey;
      margin: 5px;
    }
    .rated {
      color: $primary_theme_color;
      transform: scale(1.3);
    }
    .unrated {
      color: black;
      transform: scale(0.9);
    }
  }
}

.other-posts {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 30%;
  @include max-mq($sm) {
    flex: 0 0 100%;
  }
  .existing-posts {
    display: block;
    padding: 0;
    .post-preview {
      width: 300px;
    }
  }
  .next-up {
    color: $primary_theme_color;
    font-weight: bold;
    margin: 0 auto 10px;
  }
}
