.img-fluid {
  position: absolute;
  top: 0;
  left: 100px;
  background-color: $primary_theme_color;
  border-radius: 50%;
  width: 220px;
  height: 200px;
  animation: border-transform 6s linear infinite;
  img {
    display: block;
    position: absolute;
    top: -135px;
    left: -100px;
    transform: rotate(-12deg);
    width: 500px;
    height: 475px;
  }
}

.hardware-fluid {
  // position: absolute;
  top: -120px !important;
  right: 315px !important;
  left: unset !important;
  background-color: #428876 !important;
  img {
    top: 55px !important;
    left: -800px !important;
    transform: rotate(-18deg) !important;
    width: 350px !important;
    height: 300px !important;
  }
}
