@import "../base/variables";

.admin-post-form {
  width: 600px;
  margin: 0 20px;
  @include max-mq($sm) {
    width: 100%;
  }
}
.input-control {
  margin: 20px 0;
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  input,
  textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 16px;
    &:focus {
      background-color: #eee;
      outline: none;
    }
  }
}

.button {
  font: inherit;
  background-color: $dark_grey;
  color: white;
  padding: 5px;
  cursor: pointer;
  border: 1px solid $dark_grey;
  border-radius: 10px;
  &:hover,
  &:active {
    background-color: $primary_theme_color;
    border: 1px solid black;
  }
}
.inverted {
  background-color: white;
  color: $dark_grey;
  border: 1px solid transparent;
  &:hover,
  &:active {
    color: #ccc;
    background-color: white;
    border: 1px solid transparent;
  }
}
.cancel {
  background-color: $primary_theme_color;
  color: white;
  border: 1px solid transparent;
  &:hover,
  &:active {
    background-color: salmon;
    border: 1px solid transparent;
    color: white;
  }
}
