@import '../base/variables';
.footer-container {
    width: 100%;
    padding: 30px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $dark_grey;
        > .pages {
            text-transform: uppercase;
        }
        > .contact {
            @include max-mq($mb) {
               flex-direction: column;
            }
            a {
                color: #51595f;
                &:hover,
                &:active,
                &.nuxt-link-active {
                  color: $primary_theme_color;
                }
            }
            color: #51595f;

        }
        &-nav-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @include max-mq($mb) {
                text-align: center;
            }
            h3 {
                color: white;
                text-decoration: none;
            }
          
            &-item {
                list-style-type: none;
                margin: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                @include max-mq($mb) {
                    width: 100%;
                }
            }
        }
        .copyright {
            width: 70%;
            margin:  0 auto;
            padding: 10px 0 0;
            text-align: center;
            color: white;
            text-transform: uppercase;
            border-top: 3px solid $light_grey;
        }
}