@import "../base/index.scss";
.sidenav-container {
  height: 100%;
  width: 100%;
  &-backdrop {
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }

  &-nav {
    height: 100%;
    width: 300px;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: $dark_grey;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 30px;
    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &-item {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      margin: 20px 0;
      text-align: center;
      list-style: none;
      pointer-events: cursor;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: opacity 350ms ease, transform 250ms ease;
      &:nth-child(1) {
        transition-delay: 900ms;
      }
      &:nth-child(2) {
        transition-delay: 980ms;
      }
      &:nth-child(3) {
        transition-delay: 1060ms;
      }
      &:nth-child(4) {
        transition-delay: 1140ms;
      }
      &:nth-child(5) {
        transition-delay: 1220ms;
      }
      a {
        font-size: 7vh;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 800;
        position: relative;
        color: #ececee;
        transition: all 250ms linear;
        &:hover {
          text-decoration: line-through;
        }
      }
    }
  }
}

// style for all a el.
a {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  &:hover,
  &:active,
  &.nuxt-link-active {
    border-bottom: 2px solid white;
  }
}

.header-container {
  height: 60px;
  &-nav {
    display: none;
    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      &-item {
        margin: 0 10px;
      }
    }
  }

  @include min-mq($sm) {
    &-nav {
      display: flex;
      flex: 0 0 70%;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      padding-right: 2rem;
      background-color: $primary_theme_color;
    }
  }
}
.the-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
  @include max-mq($sm) {
    background-color: $dark_grey;
  }
  @include max-mq($mb) {
    padding: 0 2rem;
  }
}

.logo {
  display: flex;
  flex: 0 0 30%;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 2rem;
  background-color: $dark_grey;
  font-size: 1.3rem;
  @include max-mq($sm) {
    flex: inherit;
  }
  &-ln {
    text-transform: uppercase;
    font-weight: bold;
  }
  a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    @include max-mq($sm) {
      color: $primary_theme_color;
      &:active {
        border-bottom: 2px solid $primary_theme_color !important;
      }
    }
  }
}

.slide-side-enter-active,
.slide-side-leave-active {
  transition: all 0.3s ease-out;
 
}
.slide-side-enter,
.slide-side-leave-to {
  transform: translateX(-100%);
  li {
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: all 250ms linear;
    &:nth-child(1) {
      transition-delay: 200ms;
    }
    &:nth-child(2) {
      transition-delay: 150ms;
    }
    &:nth-child(3) {
      transition-delay: 100ms;
    }
    &:nth-child(4) {
      transition-delay: 50ms;
    }
    &:nth-child(5) {
      transition-delay: 10ms;
    }
  }
}

.drawer-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 35px;
  cursor: pointer;
  &:before {
    position: absolute;
    top: -10px;
    left: -10px;
    content: "";
    background-color: #f16926;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-animation: border-transform 6s linear infinite;
    animation: border-transform 6s linear infinite;
  }
  @media (min-width: 768px) {
    display: none;
  }
  .bar {
    width: 90%;
    height: 2px;
    background-color: $white;
    z-index: 9;
  }
}
