@import "../base/index.scss";

.admin-auth-container {
    width: 100%;
    min-width: 1440px;
    margin: 0 -30px;
    padding: 50px;
    min-height: calc(100vh - 260px);
    form {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 2px 2px #ccc;
        width: 300px;
        margin: auto;
        padding: 20px 30px;
        box-sizing: border-box;
    }
}